---
import {ANSWER_COUNT} from '../data/constants';
import {curiousCatUrl} from '../data/constants';
---

<aside class="about-archive flow">
	<p class="text-step-00">
		CuriousCat is an anonymous Q&A social networking site. It is set to be
		discontinued on Oct 7, 2024.
	</p>
	<p class="text-step-00">
		This is an archive of the <strong>{ANSWER_COUNT}</strong> questions and answers
		from
		<a href={curiousCatUrl}>my CuriousCat page</a>.
	</p>
</aside>
