<div class="progressive-blur" aria-hidden="true">
	<div class="progressive-blur-1" aria-hidden="true"></div>
	<div class="progressive-blur-2" aria-hidden="true"></div>
	<div class="progressive-blur-3" aria-hidden="true"></div>
	<div class="progressive-blur-4" aria-hidden="true"></div>
	<div class="progressive-blur-5" aria-hidden="true"></div>
	<div class="progressive-blur-6" aria-hidden="true"></div>
	<div class="progressive-blur-7" aria-hidden="true"></div>
	<div class="progressive-blur-8" aria-hidden="true"></div>
</div>
